In [78]:
import predictor

In [79]:
import pandas as pd

In [97]:
df = pd.read_csv("../input/Churn_Modelling.csv")

In [98]:
df_head = df.head(5)

In [99]:
gf = predictor.predict(df_head)

d:\External\Dezyre-EKS\python-env\lib\site-packages\pandas\core\frame.py:4901: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

(1, 12)
  Surname  CreditScore Geography  Gender  Age  Tenure   Balance  \
0    Onio          502    France  Female   42       8  159660.8

   NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary  \
0              3          1               0        113931.57

   pred_probabilities
0            0.964485

In [96]:
gf.columns

Index(['Surname', 'CreditScore', 'Geography', 'Gender', 'Age', 'Tenure',
       'Balance', 'NumOfProducts', 'HasCrCard', 'IsActiveMember',
       'EstimatedSalary', 'pred_probabilities'],
      dtype='object')

In [84]:
gf

Empty DataFrame
Columns: [Surname, CreditScore, Geography, Gender, Age, Tenure, Balance, NumOfProducts, HasCrCard, IsActiveMember, EstimatedSalary, pred_probabilities]
Index: []

In [101]:
import json
json.loads(df_head.to_json(orient="records"))

[{'Surname': 'Hargrave',
  'CreditScore': 619,
  'Geography': 'France',
  'Gender': 'Female',
  'Age': 42,
  'Tenure': 2,
  'Balance': 0.0,
  'NumOfProducts': 1,
  'HasCrCard': 1,
  'IsActiveMember': 1,
  'EstimatedSalary': 101348.88},
 {'Surname': 'Hill',
  'CreditScore': 608,
  'Geography': 'Spain',
  'Gender': 'Female',
  'Age': 41,
  'Tenure': 1,
  'Balance': 83807.86,
  'NumOfProducts': 1,
  'HasCrCard': 0,
  'IsActiveMember': 1,
  'EstimatedSalary': 112542.58},
 {'Surname': 'Onio',
  'CreditScore': 502,
  'Geography': 'France',
  'Gender': 'Female',
  'Age': 42,
  'Tenure': 8,
  'Balance': 159660.8,
  'NumOfProducts': 3,
  'HasCrCard': 1,
  'IsActiveMember': 0,
  'EstimatedSalary': 113931.57},
 {'Surname': 'Boni',
  'CreditScore': 699,
  'Geography': 'France',
  'Gender': 'Female',
  'Age': 39,
  'Tenure': 1,
  'Balance': 0.0,
  'NumOfProducts': 2,
  'HasCrCard': 0,
  'IsActiveMember': 0,
  'EstimatedSalary': 93826.63},
 {'Surname': 'Mitchell',
  'CreditScore': 850,
  'Geography': 'Spain',
  'Gender': 'Female',
  'Age': 43,
  'Tenure': 2,
  'Balance': 125510.82,
  'NumOfProducts': 1,
  'HasCrCard': 1,
  'IsActiveMember': 1,
  'EstimatedSalary': 79084.1}]